<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="bgcolor transbox">
    <app-navbar></app-navbar>
    <p class="textpattern">Get in Touch</p>
    <div class="outerbox">
      <h2>My personal mailing address : sharmisphs@gmail.com</h2>
      <h2>Call me : 9073355422</h2>
      <h2>Facebook: <a>https://m.facebook.com/sharmisphs</a></h2>
      <h2>
        LinkedIn:
        <a>https://www.linkedin.com/in/sharmi-chakraborty-a0b444122/</a>
      </h2>
    </div>
  </div>
</body>
