.bgcolor {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(/assets/img/files.jpg);
  // width: 100vw;
  display: block;
  padding: 0px;
  height: 100vh;
  // background-image: url(/assets/img/work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.textpattern {
  margin-top: 1%;
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
  color: black;
  text-align: center;
}
.timespan {
  margin-top: 1%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
  color: black;
  text-align: left;
  padding-left: 1.5%;
}
.role {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 23px;
  color: #008000;
  text-align: left;
  padding-left: 1.5%;
}
.skillformat {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 18px;
  color: darkmagenta;
  text-align: left;
  padding-left: 1.5%;
}
.set {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 19px;
  color: black;
  text-align: left;
}
