<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>
<body>
  <div class="bgcolor transbox">
    <app-navbar></app-navbar>
    <p class="textpattern"><b>Work Experience</b></p>
    <div *ngFor="let item of experience">
      <div class="timespan">{{ item.time }}</div>
      <div class="role">
        <span>Role : {{ item.role }}</span> &
        <span>Company : {{ item.company }}</span>
      </div>
      <div class="skillformat">Working on:</div>
      <div *ngFor="let i of item.set">
        <ul style="padding-left: 5%;">
          <li class="set">{{ i.point }}</li>
        </ul>
      </div>
    </div>
  </div>
</body>
