<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="bgcolor">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-md-6" style="background-color:  #008000">
        <div class="card">
          <img src="assets/img/Sharmi.jpg" alt="Avatar" class="profilepic" />
          <div class="container">
            <h4><b class="name">Sharmi Chakraborty</b></h4>
            <p class="webd">Web Designer</p>
          </div>
        </div>
        <!-- <div class="container">
          <img src="assets/img/Sharmi.jpg" class="profileimage" />
          <p class="name">Sharmi Chakraborty</p>
          <p class="textpattern">Web Designer</p>
        </div> -->
      </div>
      <div class="col-md-6 headersname">
        <div class="container1">
          <p><b>Hello</b></p>
          <p class="experience">
            Two year experienced skilled and creative web developer, with the
            interest of learning new technologies. Depending on the project that
            needs to be done, I can work independently to complete my tasks on
            time, but I also enjoy brainstorming and collaborating with my
            colleagues
          </p>
        </div>
      </div>
    </div>
    <!-- <div id="main">
      <img src="assets/img/Sharmi.jpg" class="profileimage" />
      <div class="headersname">
        <p style="color:#C71585;"><b>Hello,</b></p>
        <p style="color:#C71585;">
          I'm Sharmi Chakraborty.
        </p>
      </div>
    </div> -->
  </div>
</body>
