<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="bgcolor">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/Sharmi.jpg" class="profileimage" />
      </div>
      <div class="col-md-6 headersname">
        <p style="color:#C71585;"><b>Hello,</b></p>
        <p style="color:#C71585;">
          I'm Sharmi Chakraborty.
        </p>
      </div>
    </div>
    <!-- <div id="main">
      <img src="assets/img/Sharmi.jpg" class="profileimage" />
      <div class="headersname">
        <p style="color:#C71585;"><b>Hello,</b></p>
        <p style="color:#C71585;">
          I'm Sharmi Chakraborty.
        </p>
      </div>
    </div> -->
    <div class="textpattern">
      <p style="color:black;">Web Developer</p>
    </div>
  </div>
</body>
