.bgcolor {
  // background: linear-gradient(
  //     rgba(255, 255, 255, 0.5),
  //     rgba(255, 255, 255, 0.5)
  //   ),
  //   url(/assets/img/work.jpg);
  // width: 100vw;
  display: block;
  padding: 0px;
  height: 100vh;
  // background-image: url(/assets/img/work.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.textpattern {
  margin-top: 1%;
  font-size: 40px;
  color: black;
  text-align: center;
  font-family: "Brush Script MT", cursive;
}
.blackcol {
  color: black;
}
.skillset {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  color: black;
  text-align: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.w3-green {
  background-color: #008000 !important;
}
